
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
body{
  background-color: #48CFCB;

}
.dice {
  text-align: center;
  display: inline-block;

}
button {
  width: 50%;
}
h1 {
  margin: 30px;
  font-size: 8rem;
  color: #F5F5F5;
  font-family: 'Lobster', cursive;
}

p {
  font-size: 2rem;
  color: #F5F5F5;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
