body {
    margin: 0;
}
div{
    width: 200px;
    height: 300px;
    margin: 0px;
    border: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
.red {
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}